<ion-header>

  <ion-navbar>
    <ion-title>View Deliveries</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div style="max-width: 800px; margin: auto; ">
    <div *ngIf="searchType === 'Status'">
      <ion-item>
        <ion-label>Activity</ion-label>
        <ion-select [(ngModel)]="status" submitText="Select" cancelText="Cancel" (ionChange)="filterDelivery($event)">
          <div *ngFor="let activity of activityOptions">
            <ion-option value="{{activity.key}}">{{activity.value}}
            </ion-option>
          </div>
        </ion-select>
      </ion-item>
      <div style="float: right">
          <ion-item *ngIf="isFiltered">
              <button ion-button icon-right color="dark" clear (click)="clearFilter()" tappable>
                  <span>Reset Filter  </span> <ion-icon name="close-circle"></ion-icon>
                </button>
          </ion-item>
      </div>
   
   

    </div>
    <div *ngIf="searchType=== 'Search'">
      <ion-item>
        <ion-label>From Date</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="fromDate"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>To Date</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="toDate"></ion-datetime>
      </ion-item>
      <ion-item>
        <button ion-button full large (click)="searchDeliveryByDate()">Search</button>
        
      </ion-item>
      <!-- <ion-item>
        <ion-label>Activity</ion-label>
        <ion-select [(ngModel)]="status" submitText="Select" cancelText="Cancel">
          <div *ngFor="let activity of activityOptions">
            <ion-option value="{{activity.key}}">{{activity.value}}
            </ion-option>
          </div>
        </ion-select>
      </ion-item> -->
    </div>
    <div *ngIf="!isFiltered">
      <ion-list>
        <ion-card *ngFor="let item of deliveryResults" (click)="itemTapped(item)">
          <ion-card-header>
            {{ item.text }}
          </ion-card-header>
          <ion-card-content>
              <h5><strong>Delivery Address</strong></h5>
            <div>{{ item.address1 }}</div>
            <div *ngIf="item.address2">{{ item.address2 }}</div>
            <div>{{ item.city }}, {{ item.state }} {{ item.zipCode }}</div>
            <div>Activity Status: {{ item.activityName }}</div>
            <div>Biling: {{ item.billingName }}</div>
            <div>Run: {{ item.runName }}</div>
            <div *ngIf="item.isAltAddress === 'True'">
              <h5><strong>Alt Address</strong></h5>
              <div style="color: #0066cc">{{ item.altAddress1 }}</div>
              <div style="color: #0066cc" *ngIf="item.altAddress2">{{ item.altAddress2 }}</div>
              <div style="color: #0066cc">{{ item.altCity }}, {{ item.altState }} {{ item.altZip }}</div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-list>
    </div>
    <div *ngIf="isFiltered">
        <ion-list>
          <ion-card *ngFor="let item of deliverySearchResults" (click)="itemTapped(item)">
            <ion-card-header>
              {{ item.text }}
            </ion-card-header>
            <ion-card-content>
                <h5><strong>Delivery Address</strong></h5>
              <div>{{ item.address1 }}</div>
              <div *ngIf="item.address2">{{ item.address2 }}</div>
              <div>{{ item.city }}, {{ item.state }} {{ item.zipCode }}</div>
              <div>Activity Status: {{ item.activityName }}</div>
              <div>Biling: {{ item.billingName }}</div>
              <div>Run: {{ item.runName }}</div>
              <div *ngIf="item.isAltAddress === 'True'">
                <h5><strong>Alt Address</strong></h5>
                <div style="color: #0066cc">{{ item.altAddress1 }}</div>
                <div style="color: #0066cc" *ngIf="item.altAddress2">{{ item.altAddress2 }}</div>
                <div style="color: #0066cc">{{ item.altCity }}, {{ item.altState }} {{ item.altZip }}</div>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </div>
  </div>
</ion-content>