<ion-header>

  <ion-navbar>
    <ion-title>Delivery Detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div style="max-width: 800px; margin: auto; ">








    <p>Driver Assigned: {{delivery?.driverName}}</p>
    <p>Run: {{delivery?.runName}}</p>
    <p>Tote: {{delivery?.bagToteId}}</p>
    <p>Activity: {{delivery?.activityName}}</p>


    <p>Billing: {{delivery?.billingName}}</p>
    <p>Date Delivered: {{delivery?.dateDelivered}}</p>
    <p>Text: {{delivery?.text}}</p>



    <div *ngIf="!showAltAddress">
      <div style="padding: 10px">
        <h6>Original Delivery Address</h6>
        {{delivery?.address1}}
        <span *ngIf="delivery.address2">
          <br>{{delivery?.address2}}</span>
        <br> {{delivery?.city}}, {{delivery?.state}} {{delivery?.zip}}
      </div>




    </div>
    <div *ngIf="showAltAddress">
 
      <div style="padding: 10px">
          <h6>Alt Delivery Address</h6>
          {{delivery?.altAddress1}}
          <span *ngIf="delivery.altAddress2">
            <br>{{delivery?.altAddress2}}</span>
          <br> {{delivery?.altCity}}, {{delivery?.altState}} {{delivery?.altZip}}
          <br>
          <br>

        <h6>Original Delivery Address</h6>
        {{delivery?.address1}}
        <span *ngIf="delivery.address2">
          <br>{{delivery?.address2}}</span>
        <br> {{delivery?.city}}, {{delivery?.state}} {{delivery?.zip}}
      </div>
    </div>





    <ion-item>
      <button ion-button full icon-right (click)="getSig()">
        Show Signature
        <ion-icon ios="ios-clipboard" md="md-clipboard"></ion-icon>
      </button>
    </ion-item>

  
    <div *ngIf="deliverySignature" style="margin: 0 auto; text-align: center;">
      <br>
      <img [src]="deliverySignature" />

    </div>

  </div>


</ion-content>