
<ion-header>

  <ion-navbar>
    <ion-title>Driver Delivery Search</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div style="max-width: 800px; margin: auto; ">
      <div *ngIf="searchType === 'Status'">
        <ion-item>
          <ion-label>Activity</ion-label>
          <ion-select [(ngModel)]="status" submitText="Select" cancelText="Cancel">
            <div *ngFor="let activity of activityOptions">
              <ion-option value="{{activity.key}}">{{activity.value}}
              </ion-option>
            </div>
          </ion-select>
        </ion-item>
  
      </div>
      <div *ngIf="searchType=== 'Search'">
        <ion-item>
          <ion-label>From Date</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="fromDate"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>To Date</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="toDate"></ion-datetime>
        </ion-item>
        <ion-item>
          <button ion-button full large (click)="searchDeliveryByDate()">Search</button>
          
        </ion-item>
        <!-- <ion-item>
          <ion-label>Activity</ion-label>
          <ion-select [(ngModel)]="status" submitText="Select" cancelText="Cancel">
            <div *ngFor="let activity of activityOptions">
              <ion-option value="{{activity.key}}">{{activity.value}}
              </ion-option>
            </div>
          </ion-select>
        </ion-item> -->
      </div>
      <div>
        <ion-list>
          <ion-card *ngFor="let item of deliveryResults" (click)="itemTapped(item)">
            <ion-card-header>
              {{ item.text }}
            </ion-card-header>
            <ion-card-content>
              <div>{{ item.address1 }}</div>
              <div>{{ item.city }}, {{ item.state }} {{ item.zipCode }}</div>
              <div>Status: {{ item.activity }}</div>
              <div>Run: {{ item.run }}</div>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </div>
  
    </div>
  </ion-content>
