
<ion-header>

  <ion-navbar>
    <ion-title>Find Account</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="dark" clear (click)="closeTapped()" tappable>
          <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar (ionInput)="searchChanged($event)" (ionCancel)="resetSearch()" (ionClear)="resetSearch()" placeholder="Search Account"
  debounce="1000" tappable></ion-searchbar>
</ion-header>


<ion-content padding>
    <div style="max-width: 800px; margin: auto; ">
      <ion-list>
        <ion-item detail-none *ngFor="let item of accounts" (click)="accountSelected(item)" tappable>
            <ion-card>
                
                  <ion-item>
                    <h2>{{item.accountName}}</h2>
                  </ion-item>
                
       
                
                  <ion-card-content>
                    <p>{{item.address1}}</p>
                    <p *ngIf="item.address2">{{item?.address2}}</p>
                    <p>{{ item?.city }}, {{ item?.state }}  {{ item?.zip }}</p>
  
                  </ion-card-content>
   
                
                </ion-card>
        </ion-item>
      </ion-list>


    </div>
</ion-content>
